.잠 {
    position: absolute;
    right: 0;
}

.재 {
    position: absolute;
    right: 1.5rem;
}

.웹 {
    position: absolute;
    right: 3rem;
}

.사 {
    position: absolute;
    right: 4.5rem;
}

.이 {
    position: absolute;
    right: 6rem;
}

.트 {
    position: absolute;
    right: 7.5rem;
}

.작 {
    position: absolute;
    right: 9rem;
}
