.충 {
    position: absolute;
    right: 0;
}

.예 {
    position: absolute;
    right: 1.5rem;
}

.계 {
    position: absolute;
    right: 3rem;
}

.효 {
    position: absolute;
    right: 4.5rem;
}

.선 {
    position: absolute;
    right: 6rem;
}
