:root {
    --보라: #551a8b;
    --파랑: #0000ee;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

html,
body {
    overscroll-behavior: none;
}

body {
    margin: 0;
    font-family: "Pretendard Variable", sans-serif;
    background: white;
}

.layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 3rem minmax(0, 1fr) 4rem 2rem;
    height: 100dvh;
}

.다음페이지로이동할까요 {
    position: relative;
    overflow: clip;
    color: var(--파랑);
    border-top: 1px solid var(--파랑);
    border-bottom: 1px solid var(--파랑);
    display: grid;
    place-items: center;
}

.공 {
    width: 3rem;
    height: 3rem;
    fill: white;
    stroke: var(--파랑);
    stroke-width: 1px;

    circle {
        r: calc(1.5rem - 0.5px);
    }

    text {
        fill: var(--파랑);
        stroke: none;
        font-size: 1rem;
        font-weight: 500;
    }
}

.표1 {
    min-width: 0;
    overflow-y: auto;
    overscroll-behavior: none;
    scrollbar-width: none;
    padding: 2rem 1rem;
}

.표1::-webkit-scrollbar {
    display: none;
}

.페이지 {
    width: 100%;

    h1 {
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: justify;
    }

    .공백 {
        position: relative;
        height: calc(100dvh - 11rem);
    }
}

.이전 {
    cursor: pointer;
}

.지금 {
    position: absolute;
    left: 0;
    z-index: 1;
}

.다음 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    touch-action: none;
    user-select: none;
    cursor: grab;
}

.툭 {
    z-index: 2;
    position: fixed;
    bottom: auto;
    left: auto;
    transform: none;
}

.다음페이지로이동힌트 {
    background-color: var(--파랑);
    color: white;
}

.다음힌트 {
    fill: var(--파랑);

    text {
        fill: white;
    }
}

.책등 {
    padding: 0 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 30dvw minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    font-weight: normal;
    border-bottom: 1px solid oklab(0 0 0 /1);
    border-top: 1px solid oklab(0 0 0 / 1);

    div:last-child {
        position: relative;
    }
}

.보라색-하이퍼링크 {
    display: block;
    height: 1.6rem;
    width: auto;
    transform: translateY(2px);
}

.독서감상웹사이트 {
    color: var(--파랑);
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

.잠재웹사이트작업실 {
    color: var(--파랑);
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-family: "EB Garamond", serif;
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-50%, -100%);
}

.표4로 {
    background-color: var(--파랑);
}

.표4로 a {
    display: block;
    height: 100%;
}

@media (min-width: 1024px) {
    .layout {
        grid-template-columns: 2.5rem 4.5rem minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);
    }

    .표4로 {
        order: 1;
    }

    .표1 {
        order: 3;
        border-right: 1px solid oklab(0 0 0 / 1);
    }

    .다음페이지로이동할까요 {
        order: 4;
        align-self: center;
        height: 3rem;
    }

    .페이지 .공백 {
        height: calc(100dvh - 2rem);
    }

    .책등 {
        order: 2;
        padding: 2rem 0;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 30dvh minmax(0, 1fr) minmax(0, 1fr);
        justify-items: center;
        align-items: start;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid oklab(0 0 0 / 1);
        border-right: 1px solid oklab(0 0 0 / 1);

        div:first-child a {
            display: block;
            position: relative;
            width: 2rem;
            aspect-ratio: 135 / 420;
        }

        div:last-child {
            align-self: end;
        }
    }

    .보라색-하이퍼링크 {
        position: absolute;
        height: 2rem;
        top: 50%;
        left: 50%;
        transform: translateX(-4px) translate(-50%, -50%) rotate(90deg);
    }

    .독서감상웹사이트 {
        font-size: 1.1rem;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: sideways;
    }

    .잠재웹사이트작업실 {
        font-size: 1.1rem;
        position: static;
        transform: none;
        text-align: center;
    }
}